<div class="sidebar">
    <ul class="registration-step">
        <li class="registration-step-item">
            <small>1</small>
            <p (click)="navigateTo('/welcome')">Welcome</p>
            <div tourAnchor="welcome"></div>
        </li>
        <li class="registration-step-item">
            <small>2</small>
            <p (click)="navigateTo('/registration')">Registration</p>
            <div tourAnchor="registration"></div>
        </li>
        <li class="registration-step-item">
            <small>3</small>
            <p (click)="navigateTo('/finish')">Finish</p>
            <div tourAnchor="finish"></div>
        </li>
    </ul>
</div>