.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #242c60;
    z-index: 100;
    transition: 1s;
    overflow-x: hidden;
}

.main-content {
    transition: 1s;
    margin-left: 280px;
}